<?xml version="1.0" ?>
<model>
    <name>Gate</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Johvany Gustave</name>
        <email>johvany.gustave@ipsa.fr</email>
    </author>
    <description>Gate through which the UAV will pass</description>
</model>